#scroll_up {
  background: #666;
  bottom: 54px;
  height: 40px;
  position: fixed;
  right: 82px;
  width: 40px;
}

.img-arrow-up {
  bottom: 54px;
  height: 40px;
  position: fixed;
  right: 82px;
  width: 40px;
}
