/*Polices*/
@font-face {
  font-family: 'Montserrat';
  src: url('../police/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../police/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('../police/Poppins/Poppins-ExtraLight.ttf');
}
