$header-color: rgba(0, 0, 0, 0.8);
$title-color: #fff;
$second-title-color: #464646;
$subtitle-color: #232323;
$text-color: #464646;
$border-text: #f6f6f6;
$background-contact: #f7f7f7;

$subtitle-font: 'Montserrat', sans-serif;
$title-font: 'MontserratBold', sans-serif;
$text-font: "poppins", sans-serif;

$title-font-size: 25px;
$content-font-size: 14px;
$services-font-sizes: 40px;
$nav-font-size: 12px;