/*Contact*/

#contact {
  background-color: $background-contact;
  width: 100%;

  h2 {
    text-align: center;
  }
}

*:focus {
  outline: none;
  border: 1px solid $focus-color;
}


form {
  display: flex;
  justify-content: center;

  .form__element {
    display: flex;
    flex-direction: column;
    margin-right: -96px;
    margin-left: 72px;
  }
}


.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.submit {
  margin-bottom: 17px;
}

.message {
  display: flex;
  align-self: flex-end;

  textarea {
    width: 330px;
    @include input-form;
  }
}

input {
  width: 135px;
  @include input-form;

  &:not(:focus):invalid {
    background: $invalid-form-background-color;
    border: 1px solid $focus-color;
    color: $invalid-text-color;
    animation: invalid-data 100ms cubic-bezier(.4, .1, .6, .9) 2;
  }
}

@keyframes invalid-data {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(2%);
  }
}
